<html>
<head> 
<title> ToDo App </title>
</head>

<body>
<div class="container">
<h2> Agro_Medoc </h2>



<h2> fiche détaillé </h2>

<button> Fiche info</button>
<button> Fiche medical</button>

<p> <%= result[0].boucle %></p>
<p> <%= result[1].medicament_name %></p>



</div>

</body>
</html>