<form action ="/animal/add" method="POST">
    
    <input type="text" name="boucle" value="" placeholder="entrer les 4 derniers numéro de la boucle">
    <input type="text" name="sexe" value="" placeholder=" Sexe : M ou F">
    <input type="text" name="sype" value="" placeholder="BB ou laitière">
    <input type="text" name="date_naissance" value="" placeholder="Date_naissance">
    <button> Ajouter une fiche animal </button>
</form>

<a href="/" > retour</a>