<html>
<head> 
<title> ToDo App </title>

<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0"> <!-- pour éviter que le navigateur face une résolution virtuelle qui fait un effet "dezoom du site" -->


<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" type="text/css" href="/css/style.css" />
<link rel="stylesheet" type="text/css" href="/css/index.css" />
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.bundle.min.js" integrity="sha384-b5kHyXgcpbZJO/tY9Ul7kGkf1S0CWuKcCD38l8YkeH8z8QjE0GmW1gYU5S9FOnJ0" crossorigin="anonymous"></script>

</head>

<body>
    <nav class=" bg-dark text-light">

        <a class="nav_buttons" href="/"> RETURN </a>
    
        <h1> Animaux </h1>
    
        <a class="nav_buttons" href="/form/animal/add"> Ajouter un animal </a> 
    
    
      </nav>
    <form action ="/animal/add" method="POST">
    
        <input type="text" name="boucle" value="" placeholder="entrer les 4 derniers numéro de la boucle">
        <input type="text" name="sexe" value="" placeholder=" Sexe : M ou F">
        <input type="text" name="sype" value="" placeholder="BB ou laitière">
        <input type="text" name="date_naissance" value="" placeholder="Date_naissance">
        <button> Ajouter une fiche animal </button>
    </form>
    

</body>
</html>

