<form action ="/treatment/add" method="POST">


    <input type="hidden" name="id" value="<%= id %>" />
    <input type="text" name="administration_datum" value="" placeholder=" date d'administration du médicament">
    <input type="text" name="medicament_name" value="" placeholder="nom du médicmaent">
    <input type="text" name="quantity" value="" placeholder="quantité">
    <input type="text" name="num_lot" value="" placeholder="Numéro lot">

    <button> Ajouter un traitement </button>