<html>
<head> 
<title> ToDo App </title>

<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0"> <!-- pour éviter que le navigateur face une résolution virtuelle qui fait un effet "dezoom du site" -->


<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" type="text/css" href="/css/prehome.css" />

<body class=".container_prehome">


 <div>
       <a href="/search"><button>Recherche Boucle</button></a>
        <a href="/animal"><button>Animaux</button></a>
 </div> 



</body>
</html>

