<html>
<head> 
<title> ToDo App </title>
</head>

<body>
<div class="container">
<h2> Traitements</h2>


<a href="/form/treatment/add"> Ajouter un traitement </a>

<h2> Tous les traitements </h2>

<% for( var i = 0; i < treatments.length; i++){ %>
    <li><input type="checkbox" id="<%= i%>" name="check" value="<%= treatments[i].id_boucle %>" /> <%= treatments[i].id_boucle %>
        <a  href="/animal/delete/<%= i %>"> supprimer </a>
      </li>
<% } %>





</div>

</body>
</html>