*{

    background-color: red;
}
form label, form input {
    display: block;
}

form{
    text-align: center;

    
    color : white;

    background : #212529;


}
form label{
    margin: 2% 0 0 0;
}
form input {
    margin: 0 auto;

}

form button{

    font-size: 0.8em;

    color: white;

    background-color: #556B2F;
    height: 100px;
    width:100%;

    margin: 5% 0 5% 0;

}



/* Style appliqué uniquement pour animal.ejs */

/* -- NAV -- */

.nav_buttons:nth-child(3){

    font-size: 0.8em;

    color: white;

    background-color: #556B2F;

}




/* -- -- */

/* -- cards -- */
/* permet d'afficher les numéros des boucles */

.container_cards {  
    


    padding: 10px; 
}

.card{

    margin: 5% 0 5% 0;
}

.card *{
    font-size: var(--text-md);
}


    /* style des "pseudo" bouton */
.border-button{

    display:flex;

    align-items: center;

    justify-content: center;


    height: 95%;
    width:100%;

    
    border: 3px solid  !important;
    border-radius: 3%;

    
    color: black;

    text-decoration: none;
    text-align: center;
}



.border-button:hover{

    cursor: grab;

    border: solid  !important;

    box-shadow: rgba(3, 102, 214, 0.3) 0px 0px 0px 3px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;

    font-weight: bold;

    color: black;

    text-decoration: none;
}



.card-header{

    color: black;

    background-color: white !important;

}

.card-body{

    height: 200px !important;

    padding-top: 2vw !important;
    padding-bottom: 2vw !important;

}






/* -- -- */




/* -- -- */




@media only screen and (min-width: 600px) {

    .container_cards {  
    
        display: grid;

        grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
        grid-template-rows: auto;
        grid-gap: 1%;

        justify-content: center;
    
        width: 100%;

        margin-top: 50px;

        padding: 10px;    
    
      }
    


}



.tabcontent {
    display: none;
    
    border: 1px solid #ccc;
    border-top: none;

    padding: 6px 12px;
  }



