@import url('https://fonts.googleapis.com/css2?family=Andika&display=swap');

/* Style pour tous les viewports */

/* -- NAV -- */
nav{
    display: flex;

    align-content: center;
    align-items: center;

    justify-content: space-between;

    height:15%;

    background-color: #212529;
    color: white;

    border-bottom : 5px solid red;




} 

.nav_buttons {
    display: flex;

    align-items: center;

    justify-content: center;

    height:70%;
    width:20%;

    margin: 0 2% 0 2%;

    padding: 0 2% 0 2%;

    font-size: 0.8em;

    border: 1px solid;


    color:white;

    text-decoration: none;
    text-align: center;

}

.nav_buttons img {
    width:100%;
    height:95%;
}
.nav_buttons:hover{

    font-weight: bold;
    cursor:grab;
    color: white;
    text-decoration: none;
    border:solid white;
}


.nav_buttons:nth-child(1){
  
    font-size: 0.8em;

    color: white;
   
    background-color: #F5F5DC;
}

/* -- -- */


/* -- body -- */





body,html{

    height:100%;
    width:100%;
    margin:0 auto;

    font-size: var(--text-base-size);
    font-family: var(--font-primary);
    /*color: var(--color-text);*/



 



}


/* -- -- */

*{
    font-family:'Andika', sans-serif;
}


h1
{
    text-transform: uppercase;
    font-size : var(--text-sm);
    letter-spacing: 2px;
    word-spacing: 10px;

    
}


/* NAV BAR */

  /*  LES TABLEAUX */

 table{
    text-align: center;

}

table * {
    text-align: center;

}



/* Style bouton gobale */

.btn_edit{
    background-color: #cf8d00 !important;

}
.btn_supp{
    background-color:  #7a0012 !important;

}

