@import url('https://fonts.googleapis.com/css2?family=Andika&display=swap');

body{
    width:100%;

}

*{
    font-family:'Andika', sans-serif;
}


h1
{
    text-transform: uppercase;
    font-size : 500px;
    letter-spacing: 2px;
    word-spacing: 10px;

    
}

/* NAV BAR */
nav{
    display: flex;
    align-content: center;
    align-items: center;
    justify-content: space-between;
    border: solid white;
    height:10%;

} 

.nav_buttons {
    display: flex;
    color:white;

    width:15%;
    margin-right: 2%;
    margin-left: 2%;
    height:70%;

    text-decoration: none;
    align-items: center;
    justify-content: center;


}
.nav_buttons:hover{

    font-weight: bold;
    cursor:grab;
    color: white;
    text-decoration: none;
    border:solid white;
}
.nav_buttons:nth-child(3){
    background-color: #cf8d00;
    color: white;

    font-size: 1.2vmax;



}

.nav_buttons:nth-child(4){
    background-color:#556B2F;



}

@import "lesshat";

.arrow {
    border: solid black;
    border-width: 0 10px 10px 0;
    display: inline-block;
    padding: 10px;


    transform: rotate(135deg);
    -webkit-transform: rotate(135deg);

  }

  h2{
      text-align: center;
      color: white;

  }

  /*  LES TABLEAUX */

 table{
    text-align: center;

}

table * {
    text-align: center;

}