.form_flex{
    display:flex;

    flex-wrap: wrap;

    width: 100%;
    color : white;

    background-color: #212529;




}


.form_flex label, .form_flex input, .form_flex select {

    display: flex;

    align-items: center;
    justify-content: center;

    height: 25vw;
    width: 50%;
    
    margin-top: 0 !important;

    padding: 0;

    border-bottom: 2px solid white;
    border-top: 2px solid white;



    text-align: center;
}

.form_flex input, .form_flex select{

border-left: none;
border-right: none;

font-size: var(--text-md) ;

}

.form_flex label{
    font-style: italic;

    font-size: var(--text-lg);

    
}

.input_edit input, .input_edit select {

    font-weight: bold;

    font-size:var(--text-lg);

    color: #cf8d00;
    
}




#save{
    display : flex;

    align-items : center;
    justify-content: center;

 
    width:100%;
    height: 15vw;

    margin: 0 0 0 0;


    background-color: #556B2F;

    color: white;

    font-size: var(--text-xxl);
}


select, option{
    color: white;
    background-color: #212529;
    border:none;
    border-radius: 0;
    font: inherit;

    text-align-last: center;
    text-align: center;
    -ms-text-align-last: center;
    -moz-text-align-last: center;

}






@media only screen and (min-width: 600px) {

    
.form_flex label, .form_flex input, .form_flex select {

    height: 8vw;
}

.form_flex label {
    font-size: var(--text-md)
}

#save{
    height: 10vw;
}

.interactions{

    height: 12vw;
}

}



@media only screen and (min-width: 992px) {

        
.form_flex label, .form_flex input, .form_flex select {

    height: 4vw;

    font-size: var(--text-xs);

}

#save{
    height: 5vw;

    font-size: var(--text-xs);

}

}

